/****** LOGIN MODAL ******/
body{
	overflow-y: auto;
	p{
		line-height: 26px;
	}
	h1{ font-size: 34px;}
	h2{ font-size: 28px;}
	.btn{ padding: 9px 12px}
}
body.modal-open{ padding-right: 0!important;}
.pd-lr-0{ padding-left: 0!important; padding-right: 0!important;}
.pd-left-0{ padding-left: 0!important;}
.pd-right-0{ padding-right: 0!important;}
.pd-t-30{ padding-top: 30px}
.w100{ width: 100%}
.lh-18{ line-height: 18px}
.navbar-collapse.in{
	overflow-y: hidden!important;
}
.ovf-h{ overflow: hidden}
.ovf-x-h{ overflow-x: hidden}
.ovf-y-h{ overflow-y: hidden}
.red{color: red}
.opacity-7{ opacity: .7}
.opacity-5{ opacity: .5}
.nodata{
	padding: 100px;
	i{
		font-size: 70px;
		color: #dedede;
		margin-bottom: 15px;
	}
}
.breadcrumb{
	border-radius: 0;
	margin-bottom: 0;
}
#login-modal>div {
	max-width: 350px;
	margin: 15px auto;
}
.loginmodal-container {
	padding: 30px;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	&.switch-register{
	}
	.close{
		position: relative;
		top: -20px;
		right: -15px;
		outline: none;
	}
}
#mark-loading{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
	  user-select: none; */
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	padding: 0px;
	height: 36px;
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	transition: opacity ease 0.5s;
}

.login-help {
	font-size: 12px;
}

.socials .auth-clients {
	padding-left: 0;
	margin-bottom: 0;

}

.socials .auth-clients li {
	display: inline-block;
	float: inherit;
	margin-bottom: 0;
}

.socials .auth-clients li:hover a {
	opacity: 0.7;
}

.ds-btn{
	padding-left: 0;
	text-align: center;
}
.ds-btn li {
	list-style: none;
	display: inline-block;
	padding: 10px;
	a{
		color: #fff;
	}
}

.ds-btn li a span {
	padding-left: 15px;
	padding-right: 5px;
	width: 100%;
	display: inline-block;
	text-align: left;
	color: #fff;
}

.ds-btn li a span small {
	width: 100%;
	display: inline-block;
	text-align: left;
}

/** Midde modal */
.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 100%;
	pointer-events:none;
}
.vertical-align-center {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events:none;
}
.modal-content {
	/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	width:inherit;
	max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
	height:inherit;
	/* To center horizontally */
	margin: 0 auto;
	pointer-events:all;
}

/** End Midde modal */

// Overite datepicker
.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active{ background-color: #00AEEF; border-color: #00AEEF}

.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: auto;
	margin-top: 7px;
	width: 250px;
	height: 250px;
}
// Avartar upload
.avatar-view{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
	a{
		outline: none;
		img{
			border-radius: 50%;
			max-height: 120px;
			max-width: 120px;
			border: 1px dotted #ccc;
		}
		&:hover{
			opacity: .8;
		}
	}
}
.image-editor{
	input[type="file"]{
		opacity: 0;
		width: 0;
		height: 0;
	}
	.cropit-preview{
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
.cropit-preview-image-container {
	cursor: move;
}

.image-size-label {
	margin-top: 10px;
}

input, .export {
	display: block;
}

.form-inline .form-control{
	font-style: normal;
}
// Select2
.select2-container .select2-selection--single{
	height: 34px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.select2-container--default .select2-selection--single{
	border-color: #ccc;
	border-radius: 1px;
	text-align: left;
	color: #333;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 34px;
	top: 0;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	border-radius: 0;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.search-form.top #searchform-keys{
	margin-top: 0;
}
// .search-form
.search-form{
	#searchform-keys{
		margin-right: 0;
		margin-top: -1px;
		position: relative;
	}
	.select2-container .select2-selection--single{
		height: 40px;
		background: none repeat scroll 0 0 #eeeeee;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 40px;
	}
	.select2-container--default .select2-selection--single{
		border-radius: 1px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height: 40px;
		top: 0;
	}
}

.widget-sidebar.jobs{
	padding-right: 0;
	ul{
		li{
			list-style: none;
			input{
				display: inline-block;
			}
		}
	}
}

section#blog-section{
	.content-title h3{
		font-size: 15px;
		margin-top: 10px;
		min-height: 32px;
		text-align: left;
	}
	.content-footer{
		span{
			color: #fff;
			font-size: 13px;
		}
		span.pull-right{
			margin-top: -15px;
		}
	}
}

table.table.list-jobs{
	tr{
		&:hover{
			//border: 1px solid red;
			background: #E5F6FD;
			h4,p{
				//color: inherit;
			}
		}
	}
}
form{
	.select2-container .select2-selection--multiple {
		min-height: 34px;
	}
	.has-error {
		.select2-container--default .select2-selection--single,
		.select2-container .select2-selection--multiple{ border-color: #a94442; }
	}
	.has-success {
		.select2-container--default .select2-selection--single,
		.select2-container .select2-selection--multiple{ border-color: #3c763d; }
	}
}
#search-jobs{
	.content-widget-sidebar{
		label{
			font-weight: normal;
			&:hover{
				color: #00AEEF;
				cursor: pointer;
			}
			> div {
				margin-right: 10px;
			}
		}
	}
	.select2-container .select2-selection--multiple{
		background-image: none;
		border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.select2-container--default.select2-container--focus .select2-selection--multiple{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
	.select2-container .select2-search--inline .select2-search__field{ padding: 2px 0px 0; width: auto }
	.select2-container--default .select2-selection--multiple .select2-selection__rendered{ padding: 0 12px}
	> .content-widget-sidebar{
		margin-bottom: 15px;
	}
}

.footer-area footer {
	background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif;
	.footerleft { margin-top: 41px;
		p{
			text-align: justify;
		}
	}
	.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

	.footerleft p { color:#fff; font-size:12px !important; line-height: 18px; font-family: 'Open Sans', sans-serif; margin-bottom: 10px;}
	.footerleft p i { width:20px; color:#999;}


	.paddingtop-bottom {  margin-top:50px;}
	.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
	.footer-ul li { line-height:29px; font-size:12px;}
	.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
	.footer-ul i { margin-right:10px;}
	.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#00AEEF; }

	.social:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
	.icon-ul li { line-height:75px; width:100%; float:left;}
	.icon { float:left; margin-right:5px;}
	blockquote{ border-left-color: #00AEEF;
		a:hover{
			text-decoration: none;
		}
	}
}

.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post{
	p,a{
		font-size:12px; color:#FFF; line-height:20px;
	}
	a:hover{
		color: #00AEEF;
	}
}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;
	li {
		float:left; line-height:40px;
		&:after { content:"|"; color:#FFF; margin-right:8px; margin-left:8px;}
		a{ color:#FFF;  font-size:12px; }
		&:last-child{
			&:after{ display: none;}
		}
	}
}

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #00AEEF;
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
#back-to-top:hover {
	background: #e9ebec;
}
#back-to-top.show {
	opacity: 1;
}

form{
	div.required label:after {
		content: " (*)";
		color: red;
	}

	.form-group{
		.iCheck{
			label{
				margin-right: 20px;
			}
		}
		label{
			font-weight: normal;
		}
	}
}
input.cropit-image-zoom-input{
	margin-bottom: 15px;
}
.tooltip {
	display: block!important;
}
/* Tooltip text */
.tooltip .tooltiptext {
	background: #00AEEF;
}
.alert-message
{
	margin: 20px 0;
	padding: 20px;
	border-left: 3px solid #eee;
	h4
	{
		margin-top: 0;
		margin-bottom: 5px;
		color: #00AEEF;
	}
	p:last-child
	{
		margin-bottom: 0;
	}
	&.alert-message-info
	{
		background-color: #f4f8fa;
		border-color: #00AEEF;
	}
}

.btn-sunny {
	color: #fff;
	background-color: #f4ad49;
	.fa-check{ display: none}
	&._saved{
		background: #0bacd3;
		color: #fff;
		.fa-save{ display: none}
		.fa-check{ display: inline-block}
	}
	&:focus{ color: #fff}
}

.btn-sunny:hover{
	color: #fff;
	background-color: #f5b75f;
	outline: none;
}

.btn-sky {
	color: #fff;
	background-color: #0bacd3;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
	color: #fff;
	background-color: #29b6d8;
	outline: none;
}

.btn-sky:active, .btn-sky.active {
	color: #fff;
	background-color: #0a97b9;
	margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: none;
}

#sidebarfx{
	.widget-sidebar{
		ul{
			li{
				list-style: none;
			}
		}
		hr{
			margin: 10px auto;
		}
	}
}

.ft-jobs-detail{
	margin-top: 50px;
	> div{
		min-height: 87px;
	}
	button{
		margin-left: 10px;
		margin-right: 10px;
		min-width: 161px;
		font-family: inherit;
	}
}
a.search-options{
	&:hover{ background: #c2c2c2; color: #fff}
	background: #00A2DE;
	text-decoration: none;
}

#tabs-cv-valid{
	ul{
		padding: 0;
		li{
			list-style: none;
		}
		li.file{
			padding-left: 40px;
		}
	}
	label {
		margin: 5px;
		display: inline-block;
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		font-weight: normal;
		&:hover{ opacity: 0.8}
	}
	ul li label{
		input {
			height: 1px;
			width: 1px;
			opacity: 0;
		}
		
		.outside {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -10px;
			width: 20px;
			height: 20px;
			border: 2px solid #00AEEF;
			border-radius: 50%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			background: none;
		}
		
		.inside {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			display: inline-block;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background: #00AEEF;
			left: 3px;
			top: 3px;
			-webkit-transform: scale(0, 0);
			transform: scale(0, 0);
		}
		.no-transforms .inside {
			left: auto;
			top: auto;
			width: 0;
			height: 0;
		}
		input:checked + .outside .inside {
			-webkit-animation: radio-select 0.1s linear;
			animation: radio-select 0.1s linear;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
		}
		.no-transforms input:checked + .outside .inside {
			width: 10px;
			height: 10px;
		}
	}
}
.header-call p span{ display: inline-block}
.content-editor{
	img{
		max-width: 100%;
		height: auto!important;
	}
}

#register-modal{
	.modal-content{
		li a{
			min-width: 177px;
			i{
				position: relative;
				top: 15px;
			}
		}
	}
}

.panel.panel-info{
	border-radius: 0;
}
.nav.nav-tabs{ bottom: 0px}

#container-comment{
	.posted-by{ font-size: 14px; font-weight: bold}
	.posted-at{ font-size: 12px; font-style: italic}
	.comment{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.comment-row {
		border: #e0dfdf 1px solid;
		border-top: none;
		padding: 10px 0 0 15px;
		background: #fff;
	}
	.submitButton{ height: 34px; min-width: 100px; padding: inherit; margin-bottom: 15px}
	ul{
		padding-left: 30px;
		li{
			list-style: none;
		}
	}
	.outer-comment{
		padding: 15px;
	}
	#output-comment{
		background: #f5f5f5;
	}
}

body.user-client-profile{
	ul.com-gallery{
		padding: 0;
		li{
			display: inline-block;
			list-style: none;
			&.item{
				position: relative;
				&:hover{
					a i{
						zoom: 110%;
					}
				}
				a{
					position: absolute;
					top: 5px;
					right: 5px;
					display: inline-block;
					i.fa-trash-alt{
						font-size: 22px;
						color: #fff;
					}
				}
			}
			a{
				i{
					font-size: 60px;
					font-weight: normal;
					color: #00AEEF;
				}
			}
		}
	}
}

body.site-employeers-detail{
	.gallery{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	#viewGallery{
		.modal-content{
			.close{
				height: 15px;
				font-size: 30px;
				position: relative;
				top: -7px;
				z-index: 1;
				outline: none;
			}
		}
	}
}

/*********** Authchoice - withget ***************/
.auth-icon {
	display: block;
	width: 32px;
	height: 32px;
	background: url(../css/img/authchoice.png) no-repeat;
	border-radius: 3px;
	margin: 0 auto;
}

.auth-icon.google {
	background-position: 0 -34px;
}
.auth-icon.twitter {
	background-position: 0 -68px;
}
.auth-icon.yandex {
	background-position: 0 -102px;
}
.auth-icon.vkontakte {
	background-position: 0 -136px;
}
.auth-icon.facebook {
	background-position: 0 -170px;
}
.auth-icon.linkedin {
	background-position: 0 -204px;
}
.auth-icon.github {
	background-position: 0 -238px;
}
.auth-icon.live {
	background-position: 0 -272px;
}

.auth-clients {
	display: block;
	margin: 0 0 1em;
	list-style: none;
	overflow: auto;
}

.auth-clients li {
	float: left;
	display: block;
	margin: 0 1em 0 0;
	text-align: center;
}

.auth-title {
	display: block;
	margin-top: 0.4em;
	text-align: center;
	width: 58px;
}

/*********** Responsive ***************/
@media (max-width: 1920px) {
	.row-20-5{
		margin-left: -9px; margin-right: -9px;
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding-left: 9px;
			padding-right: 9px;
		}
	}
}

@media (max-width: 1600px) {
	.row-20-5{
		margin-left: -7px; margin-right: -7px;
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding-left: 7px;
			padding-right: 7px;
		}
	}
}

@media (max-width: 1366px) {
	.row-20-5{
		margin-left: -6px; margin-right: -6px;
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding-left: 6px;
			padding-right: 6px;
		}
	}
}

@media (min-width: 767px) {
	.md-pdl-15{ padding-left: 15px}
	.md-pdl-30{ padding-left: 30px}
	.md-pdr-15{ padding-left: 15px}
}

@media (max-width: 767px) {
	.row-sm-20-5{
		margin-left: -5px; margin-right: -5px;
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.wrapper-sb{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		.widget-sidebar{
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.copyright .container > .row > div{
		text-align: center;
		p{
			text-align: center;
		}
		.bottom_ul{
			display: inline-block;
			float: inherit;
			li{ line-height: 20px}
		}
	}
	.slider .owl-pagination{ bottom: 100px}
	.slider-content p{line-height: 20px}
	.button.navbar-right{ text-align: center}
	.navbar-nav.navbar-right:last-child{margin-left: 0; margin-right: 0;}
	.ft-jobs-detail button{ margin-left: 0; margin-right: 0; }
}
@media (max-width: 480px) {
	#blog-section{
		.list{
			.col-xs-6{ width: 100%}
		}
	}
	.slider .owl-pagination{ bottom: 50px}
	.slider-content h2{ font-size: 20px}
	.ft-jobs-detail button{ margin: 5px }
}