/****** LOGIN MODAL ******/
body.modal-open {
  padding-right: 0!important;
}
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container.switch-register {
  max-width: 475px;
}
.loginmodal-container .close {
  position: relative;
  top: -20px;
  right: -15px;
  outline: none;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.loginmodal-container input[type=text],
input[type=password] {
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
	  user-select: none; */
}
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 16px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 12px;
}
.socials .auth-clients {
  padding-left: 0;
  margin-bottom: 0;
}
.socials .auth-clients li {
  display: inline-block;
  float: inherit;
  margin-bottom: 0;
}
.socials .auth-clients li:hover a {
  opacity: 0.7;
}
.ds-btn {
  padding-left: 0;
  text-align: center;
}
.ds-btn li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.ds-btn li a {
  color: #fff;
}
.ds-btn li a span {
  padding-left: 15px;
  padding-right: 5px;
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #fff;
}
.ds-btn li a span small {
  width: 100%;
  display: inline-block;
  text-align: left;
}
/** Midde modal */
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: inherit;
  /* For Bootstrap 4 - to avoid the modal window stretching full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}
/** End Midde modal */
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #00AEEF;
  border-color: #00AEEF;
}
.cropit-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: auto;
  margin-top: 7px;
  width: 250px;
  height: 250px;
}
.avatar-view {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.avatar-view a {
  outline: none;
}
.avatar-view a img {
  border-radius: 50%;
  max-height: 120px;
  max-width: 120px;
  border: 1px dotted #ccc;
}
.avatar-view a:hover {
  opacity: .8;
}
.image-editor input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
}
.image-editor .cropit-preview {
  margin-top: 20px;
  margin-bottom: 30px;
}
.cropit-preview-image-container {
  cursor: move;
}
.image-size-label {
  margin-top: 10px;
}
input,
.export {
  display: block;
}
button {
  margin-top: 10px;
}
.select2-container .select2-selection--single {
  height: 34px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}
.select2-container--default .select2-selection--single {
  border-radius: 1px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
  top: 0;
}
.search-form #searchform-keys {
  margin-right: 0;
  margin-top: -1px;
  position: relative;
}
.search-form .select2-container .select2-selection--single {
  height: 40px;
  background: none repeat scroll 0 0 #eeeeee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}
.search-form .select2-container--default .select2-selection--single {
  border-radius: 1px;
}
.search-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  top: 0;
}
.widget-sidebar.jobs ul li {
  list-style: none;
}
.widget-sidebar.jobs ul li input {
  display: inline-block;
}
