#content .grid-view table {
  background: #fff;
}
#content .grid-view table thead tr th:last-child {
  min-width: 70px;
}
#content .col-lg-offset-1.col-md-8 {
  background: #fff;
}
#content .col-lg-offset-1.col-md-8 .form-group > label,
#content .col-lg-offset-1.col-md-8 .form-group .control-label {
  opacity: 1;
}
#content .col-lg-offset-1.col-md-8 .form-group label.checkbox-inline.checkbox-styled > span {
  display: none;
}
